table { 
   border: 1.5px solid black;
   border-collapse: collapse;
}
thead { 
    background-color: #333333;
    color: white;
}
tbody {
    background-color: #eeeeee;
}
th {
  border: 1.5px solid black;
}
td { /*columns*/
    width: 220px;
}
tr { /*rows*/
    height: 120px;
}
